<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{css/footer-style.css}"/>
</head>
<body>

<footer th:fragment="footer">
    <div th:replace="fragments/cookie-banner::cookie-banner"></div>
    <div>
        <button>
            <a th:href="@{/cookie-policy}">Cookie policy</a>
        </button>

        <button>
            <a th:href="@{/privacy-policy}">Privacy policy</a>
        </button>
    </div>

    <p>© 2026 Webshop</p>
</footer>


</body>
</html>