<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cart</title>
</head>
<body>
<header th:replace="~{fragments/header::header}"></header>
<h1>Cart</h1>

<div th:if="${cart == null}">
    <p>Cart is empty</p>
</div>

<div th:if="${cart != null}">
    <p>There are items in the cart</p>
    <p th:text="${cart.totalPrice}"></p>

<table border="1" cellpadding="10" cellspacing="0">
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each ="item :${cart.cartItems}">
            <td th:text="${item.product.name}"></td>
            <td th:text="${item.product.price}"></td>
            <td th:text="${item.quantity}"></td>
            <td th:text="${item.product.price*item.quantity}"> kr</td>
        </tr>
    </tbody>
</table>
</div>

<h3>Total: <span th:text="${cart.totalPrice}"></span> kr</h3>



<form th:action="@{checkout}" method="get">
    <button type="submit">Check Out</button>
</form>

<br>
<br>

<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>