
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cart</title>
</head>
<body>

<h1>Your Cart 🛒</h1>

<div th:if="${cart.items.isEmpty()}">
    <p>Your cart is empty</p>
</div>

<div th:if="${!cart.items.isEmpty()}">
    <ul>
        <li th:each="item : ${cart.items}">
            <span th:text="${item.product.namn}"></span>
            -
            <span th:text="${item.quantity}"></span>
            -
            <span th:text="${item.totalPrice}"></span>
        </li>
    </ul>

    <h3>Total: <span th:text="${cart.totalPrice}"></span></h3>
</div>

</body>
</html>