<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cart</title>
</head>
<body>

<h1>Cart</h1>

<div th:if="${cart == null}">
    <p>Cart is empty</p>
</div>

<div th:if="${cart != null}">
    <p>There are items in the cart</p>
    <p th:text="${cart.totalPrice}"></p>
</div>


<!-- Loop through products -->
<th:block th:each="cartItem : ${cart}">
    <table>
        <tr>
            <td th:text="${cart.cartItems}"></td>
        </tr>
    </table>
</th:block>

<!--Show products-->

<!--Show total price-->

<!--Button: confirm order -> checkout -> redirect?-->
<form th:action="@{checkout}" method="get">
    <button type="submit">Check Out</button>
</form>

</body>
</html>