<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Products</title>
    
</head>
<body>

<h1>Products 🛍️</h1>

</div>
<!-- Loop through products -->
<th:block th:if="${products} != null" th:each="product : ${products}">
    <table>
        <tr>
            <td th:src="${product.imageUrl}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.category}"></td>
            <td th:text="${product.price}"></td>
        </tr>
    </table>

    <div>
        <!-- ✅ Add to cart button -->
        <form th:action="@{/cart/add/{id}(id=${product.id})}" method="post">
            <button type="submit">Add to cart</button>
        </form>
    </div>
</th:block>
<br>

<a href="/cart">Go to Cart 🛒</a>

</body>
</html>