<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
</head>
<body>

<h1>Sign up</h1>
<p>Sign up and become one of our members!</p>


<form th:action="@{/login}" th:object="${user}" method="post">

    <div class="error-message-div">
        <p th:if="${#fields.hasErrors(user.username)}"></p>
        <p th:if="${#fields.hasErrors(user.password)}"></p>
    </div>

    <div>
        <label>
            Username
            <input type="text" name="username" placeholder="Username">
        </label>
    </div>

    <div>

        <label>
            Password
            <input type="password" name="password" placeholder="Password">
        </label>
    </div>

    <div>
        <label>
            Allow cookies
            <input type="checkbox" name="cookie-consent">
        </label>
    </div>

    <button type="submit">Sign up</button>

</form>

</body>

</html>