<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
</head>
<body>

<div th:replace="~{fragments/header::header}"></div>

<h1>Sign up</h1>
<p>Sign up and become one of our members!</p>


<form th:action="@{/login}" th:object="${user}" method="post">

    <div class="error-message-div">
        <p th:if="${#fields.hasErrors()}"></p>
        <p th:if="${#fields.hasErrors(user.username)}"></p>
        <p th:if="${#fields.hasErrors(user.password)}"></p>
    </div>

    <div>
        <label>
            Username
            <input type="text" name="username" placeholder="Username">
        </label>
    </div>

    <div>

        <label>
            Password
            <input type="password" name="password" placeholder="Password">
        </label>
    </div>

    <div>
        <label>
            By checking this box you agree to our privacy policy in terms of handling your personal information.
            <input type="checkbox" required="required">
        </label>
    </div>

    <button type="submit">Sign up</button>

</form>

<div th:replace="~{fragments/footer::footer}"></div>

</body>

</html>